---
title: Margreet
---
<%= partial "layouts/banner" %>
<%= partial "layouts/card" %>
<div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      Sth is now running!
    </p>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div>
